.overlay-account {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

/* Pannello */
.panel-account {
    display: flex;
    flex-direction: column; /* Manteniamo il pannello in colonna */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;  /* Impostiamo una larghezza fissa */
    max-width: 1200px; /* Limita la larghezza massima */
    height: 80%;
    position: relative;
    overflow: hidden;
    align-items: center;
    border: 4px solid transparent; /* Spessore del bordo */
    background: linear-gradient(white, white) padding-box,
    linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet) border-box;
}

.row1 {
    display: flex;
    flex-direction: row;
    height: 90%; /* o un'altezza fissa se preferisci, tipo 300px */
    width: 90%;
    justify-content: space-between;
    align-content: center;
    gap: 2rem;
    padding: 1rem;
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
}
.row2 {
    display: flex;
    flex-direction: row;
    height: 15%; /* o un'altezza fissa se preferisci, tipo 300px */
    width: 95%;
    justify-content: space-between;
    align-content: center;
    gap: 1rem;
    padding: 1rem;
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
}

.account-opt{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.options{
    margin-left: 10px;
    height: 30px;
    width: 30px;
}

.btn {
    flex: 1;
    border-radius: 12px;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
}

.evento {
    color: black;
    border: 4px solid transparent; /* Spessore del bordo */
    background: linear-gradient(white, white) padding-box,
    linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet) border-box;
}

.impostazioni {
    color: black;
    border: 4px solid transparent; /* Spessore del bordo */
    background: linear-gradient(white, white) padding-box,
    linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet) border-box;
}

.aiuto {
    color: black;
    border: 4px solid transparent; /* Spessore del bordo */
    background: linear-gradient(white, white) padding-box,
    linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet) border-box;
}

.esci {
    border: 3px solid #c00000;
    color: white;
    background-color: #f44336; /* rosso */
}